html {
	font-size: 62.5% ; //1 rem =  16px. So, 62.5% of 16px = 10px
	background-color: $dark-blue; 
	background: url('/images/bg.jpg');
  	background-size: cover;
}

body {
	font-family: 'Helevetica', 'Arial', 'sans-serif';
	font-size: $m-size;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

