// Colors
$dark-blue: #505763;
$light-blue: #464b5e;
$light-red: #ec5252;
$dark-grey: #29303b;
$light-grey: #cacbcc;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$mobile-breakpoint: 450px;